html
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
#header
{
    width: inherit;
    height: 20%;
    border: 1px solid black;
    background-image: url("field-ipad.jpg");
}
#right
{
    width: 50%;
    height: inherit;
    float: right;
    border: 1px solid black;
}
#top
{
    width: inherit;
    height: 30%;
    top: 0;
}
#bottom
{
    width: inherit;
    height: 60%;
    bottom: 0;   
}
